* {
  list-style: none;
  text-decoration: none;
}

:root {
  --shadow: 0 3px 3px rgb(23, 0, 0, 0.5);
}

body {
  /* background-color: #e0cffc; */
  font-family: "Roboto";
  min-height: 3000px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: whitesmoke;
}

.mynavbar {
  background-color: white;
  border-bottom: 5px solid #520dc2;
  /* position: relative; */
}

/* .mynavbar::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
} */

.mynavbar .navbar-brand,
.mynavbar .offcanvas-little {
  font-family: "Unbounded";
  color: #520dc2;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
}

.mynavbar .offcanvas-body {
  font-family: "Open Sans";
  letter-spacing: 1.5px;
}

.mynavbar .offcanvas-body .navbar-nav a {
  position: relative;
  font-family: "Oswald";
  letter-spacing: 2px;
  color: white !important;
  z-index: 1;
}

.mynavbar .offcanvas-body .navbar-nav {
  background-color: #520dc2;
  height: 40px;
  border-radius: 10px;
  display: flex;
  margin-top: 5px;
}

.nav-kanan a {
  text-decoration: none;
  font-size: 1.3rem;
  align-items: center;
}

/* .mynavbar .offcanvas-body .navbar-nav a::after {
  content: "";
  width: 0%;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background: #520dc2;
  transition: 0.2s;
} */

.mynavbar .offcanvas-body .navbar-nav a::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #8a2be2;
  border-radius: 5px;
  height: 20px;
  width: 0%;
  transition: 0.5s;
}

.mynavbar .offcanvas-body .navbar-nav a:hover::after {
  width: 50%;
}

.mynavbar .offcanvas-body .navbar-nav a:hover::before {
  width: 100%;
}

.mynavbar .offcanvas-body .navbar-nav a:hover {
  color: white !important;
}

.keranjang,
.login {
  border-radius: 20px !important;
}

.belanja-btn {
  position: relative;
  z-index: 1;
  border: 0;
}

.belanja-btn::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #8a2be2;
  border-radius: 10px;
  height: 100%;
  width: 0%;
  transition: 0.2s;
}

.belanja-btn:hover::before {
  width: 100%;
  /* background-color: #8a2be2 !important; */
}
/* Akhir Nav */

/* pencarian */
.pencarian {
  height: 12vh;
  width: 100%;
  background-color: #520dc2;
  padding: 15px;
}

.search {
  width: 400px;
}

.pencarian button {
  width: 40px;
  padding: 3px;
  margin-left: -52px;
  border-radius: 50% !important;
  background-color: #8a2be2;
  transition: 1s;
}

.pencarian button:hover {
  opacity: 1 !important;
}

/* Hero */

.hero {
  position: relative;
  border: 5px solid #520dc2;
  border-radius: 0 0 20px 20px;
  height: 100vh;
  text-shadow: var(--shadow);
  margin: -5px 2% 0 2%;
  overflow: hidden;
}

.hero p {
  font-size: 1.5rem;
}

.hero h1 {
  font-size: 2rem;
}

.hero button {
  font-size: 1.3rem;
  box-shadow: var(--shadow);
}

.first-btn,
.second-btn {
  transition: 1s;
}

.hero .first-btn:hover,
.hero .second-btn:hover {
  opacity: 0.7;
}

.hero .sosmed {
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero .sosmed li {
  margin-bottom: 2px;
  background-color: #520dc2;
  padding: 3px;
  border-radius: 0 5px 5px 0;
}

.hero .sosmed a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.hero .kiri {
  padding-top: 200px;
}

.hero .row {
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(../img/bg1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 0 0 20px 20px;
  filter: blur(2px);
}

main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
  background-color: black;
  border-radius: 0 0 20px 20px;
}

.hero .icon {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.hero .icons .icon-1 {
  background-color: #520dc2;
  top: 120px;
  left: 120px;
  /* rotate: 20deg; */
}

.hero .icons .icon-2 {
  top: 280px;
  right: 450px;
}

.hero .icons .icon-3 {
  bottom: 150px;
  left: 180px;
}

.hero .icons .icon-4 {
  bottom: 150px;
  right: 610px;
}

.hero .icons .icon-5 {
  top: 280px;
  left: 30px;
}

.hero .kanan {
  height: 99vh;
  width: 32.4%;
  position: relative;
  z-index: 1;
  padding-top: 3rem;
  border-left: 5px solid #520dc2;
}

.hero .kanan::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(1px);
  background-color: #520dc2;
  border-radius: 0 0 20px 0;
  opacity: 0.7;
}

.hero .kanan p {
  font-size: 1rem;
  font-family: "Open Sans";
}

.hero .kanan .alamat {
  margin-top: -5rem;
}

.hero .kanan .carousel {
  width: 330px;
  height: 300px;
  margin: auto;
  margin-bottom: 12px;
  border: 4px solid #520dc2;
  border-radius: 20px;
  background-color: #520dc2;
  z-index: -1;
}

.kanan .carousel img {
  border: 3px solid white;
}

/* About */
.about {
  padding: 4px;
  height: 40vh;
  margin: 2%;
  /* background-color: #8a2be2; */
  border-radius: 20px;
  border: 5px solid #520dc2;
  position: relative;
}

.about h1 {
  font-family: "Abounded";
}

.about p {
  width: 800px;
  text-align: justify;
}

.about .background-text {
  padding: 5px;
  position: relative;
  height: 220px;
  width: 70%;
}

.about .background-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #520dc2;
  border: 4px solid white;
  opacity: 0.8;
  border-radius: 20px;
}

/* .about .container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  z-index: -1;
  /* background-image: url(../img/offline-stores/freddie-marriage-w8JiSVyjy-8-unsplash.jpg); */
  background-image: url(../img/bg1.jpg);
  background-attachment: fixed;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  filter: blur(2px);
}

/* Banner */
.banner {
  margin-top: 2%;
  position: relative;
  height: 70vh;
}

/* .banner .left-side .carousel {
  width: 180px;
  margin: auto;
  margin-bottom: 12px;
  border: 4px solid #8a2be2;
  border-radius: 50%;
} */

.banner .left-side .carousel img {
  height: 180px;
  border-radius: 50% !important;
}

.banner .left-side {
  position: relative;
}

.banner .left-side::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(../img/bg1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 20px;
  filter: blur(2px);
}

.banner .right-side .carousel-item {
  /* width: 98.5%; */
  width: 100%;
  height: 70vh;
  position: relative;
  color: white;
  border: 4px solid #520dc2;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
}

.banner .right-side {
  margin-right: 15px;
}

/* .banner .slide1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background-color: #8a2be2;
  border-radius: 20px 0 0 20px;
} */

.banner .slide1 h1 {
  font-family: "Roboto";
  text-shadow: var(--shadow);
  font-weight: 600;
  font-size: 3rem;
  color: gold;
}

.banner .slide1 p {
  font-family: "Open Sans";
  width: 40%;
}

.banner .right-side .carousel-item .btn {
  box-shadow: var(--shadow);
  z-index: 9999;
}

.banner .right-side button {
  z-index: 1 !important;
}

.banner .right-side .carousel-item .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 50px;
}

.banner .left-side {
  /* background-color: #520dc2; */
  height: 70vh;
  /* margin-left: 40px; */
  /* width: 14%;
  border-radius: 20px; */
  border-radius: 20px;
  position: absolute;
  left: 2%;
  width: 20%;
  border: 5px solid #520dc2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .left-side .ls-content {
  width: 98%;
  height: 65vh;
  border-radius: 20px;
  position: relative;
}

.banner .left-side .ls-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #520dc2;
  opacity: 0.8;
  border: 4px solid white;
  border-radius: 20px;
}

.banner .left-side h1 {
  font-family: "Abounded";
}

.banner .right-side {
  position: absolute;
  right: 0;
}

/* Featured */
.featured {
  height: 75vh;
  margin: 2%;
  border: 5px solid #520dc2;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  /* background-color: #8a2be2; */
}

.featured h1 {
  font-family: "Abounded";
}

.featured .card-books {
  margin-top: -10px !important;
  height: 430px;
  width: 1200px;
  /* gap: 40px; */
  display: flex;
  justify-content: center;
  /* background-color: black; */
  padding: 0 !important;
}

.featured .card-books .card {
  /* background-color: #8a2be2; */
  height: 410px;
  margin: 0 !important;
  position: relative;
  overflow: hidden;
}

.card-books .card .img-content {
  overflow: hidden;
}

.card-books .card img {
  transition: 0.3s;
  cursor: pointer;
}

.card-books .card img:hover {
  transform: scale(1.1);
}

.card-books .card .beli {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid gainsboro;
  bottom: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.card-books .card .beli:hover {
  background-color: #8a2be2;
}

.card-books .card .beli svg:hover {
  fill: white;
}

.card-books .card .beli svg {
  width: 25px;
  height: 25px;
  fill: #8a2be2;
  transition: 0.5s;
}

.featured .card-books .card h6 {
  font-size: 15px;
}

.featured .card-books .col {
  display: flex;
  margin-top: -2px;
  width: 220px;
  height: 420px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #520dc2; */
}

.featured .card-books .card i {
  color: gold;
}

.featured h1 {
  margin-top: -20px;
}

.featured .card-books .card:hover {
  .featured .card-books .card .text-content {
    display: none !important;
  }
}

.featured .card-books .card .card-text {
  font-family: "Open Sans";
  font-weight: 500;
  margin-top: -9px;
  font-size: 14px;
}

/* Arivals */
.arivals {
  height: 165vh;
  margin: 2%;
  border: 5px solid #520dc2;
  border-radius: 20px;
  background-color: white;
  overflow-x: hidden;
  /* background-color: #520dc2; */
}

.arivals h1 {
  font-family: "Abounded";
}

.arivals .card-books {
  margin-top: -2px !important;
  display: flex;
  justify-content: center;
  height: 300px;
  width: 1200px;
  /* background-color: black; */
  margin: auto;
  position: relative;
  margin-bottom: 20px;
}

.arivals .card-books .col {
  height: 300px;
  /* width: 500px; */
  /* background-color: #8a2be2; */
  display: flex;
  justify-content: center;
}

.arivals .card-books .btn {
  margin-top: -20px;
  padding: 4px;
  background-color: #8a2be2;
  border: #520dc2;
  border-radius: 20px;
}

.arivals .card-books .btn:hover {
  opacity: 0.8;
}

.arivals .card-books .menu svg {
  position: absolute;
  top: 3px;
  right: -3px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.arivals .card-books .card .card-text {
  font-family: "Open Sans";
}

.arivals .card-books .card {
  overflow: hidden;
  transition: 0.3s;
}

.arivals .card-books .card i {
  color: gold;
}

/* Reviews */
.reviews {
  /* height: 70vh; */
  margin: 2%;
  /* background-color: #8a2be2; */
}

.blog {
  width: 97%;
  height: 70vh;
  /* background-color: #8a2be2; */
  border: 4px solid #520dc2;
  border-radius: 20px;
  background-color: white;
}

.blog a {
  text-decoration: none;
}

.blog .tag-line {
  background-color: crimson;
  width: 100px;
  font-family: "Oswald";
  border-radius: 10px;
}

.blog .card-title {
  font-family: "Oswald";
}

.review {
  width: 100%;
  height: 70vh;
  /* background-color: #520dc2; */
  border: 5px solid #520dc2;
  border-radius: 20px;
  position: relative;
}

.review::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 20px;
  background-image: url(../img/offline-stores/robinson-greig-5lgFFxaQWHs-unsplash.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  filter: blur(2px);
}

.review .carousel {
  width: 350px;
  height: 350px;
  margin: auto;
  margin-bottom: 12px;
  /* border: 4px solid #ddd; */
  border-radius: 20px;
  position: relative;
}

.review .carousel-item .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* right: 0; */
  padding: 12px;
  /* border-radius: 20px; */
  /* background-color: red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.review .carousel .slide1,
.review .carousel .slide2,
.review .carousel .slide3 {
  border-radius: 20px;
  position: relative;
  width: 350px;
  height: 344px;
  background-color: white;
  border: 4px solid #ddd;
}

.review .carousel .slide1::before,
.review .carousel .slide2::before,
.review .carousel .slide3::before {
  border-radius: 20px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  background-color: white;
}

.review .carousel h5,
.review .carousel .text-top i {
  font-size: 1rem;
  margin-top: -15px;
}

.review .carousel .text-content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.review .carousel .text-content p {
  text-align: center;
  word-break: break-all;
}

.review .carousel .text-content i {
  font-size: 1.3rem;
}

.review .carousel i {
  color: gold;
}

.review .carousel .ri-double-quotes-l {
  margin: -5px 10px 0 0;
  rotate: 10deg;
}

.review .carousel .ri-double-quotes-r {
  display: flex;
  align-items: end;
  margin: 0 0 12px 2px;
  rotate: 10deg;
}

.review .carousel img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -105px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 4px solid #520dc2;
  z-index: 3;
}

.review .carousel .text-content {
  font-style: italic;
}

/* Contact */
.contact {
  margin: 2%;
  /* height: 70vh; */
}

.contact .kiri {
  /* background-color: #8a2be2; */
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.contact .kiri::before {
  border-radius: 20px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  /* background-color: #8a2be2; */
  background-image: url(../img/bg2.jpg);
  background-position: center;
  background-size: cover;
  border: 5px solid #520dc2;
  background-attachment: fixed;
}

.contact .kanan {
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #520dc2;
  border-radius: 20px;
}

.contact .kanan::before {
  border-radius: 20px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  background-image: url(../img/bg2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  filter: blur(1px);
}

.contact .kanan .contact-content {
  width: 95%;
  height: 65vh;
  position: relative;
  /* background-color: #520dc2; */
}

.contact .kiri .contact-content {
  width: 90%;
  height: 65vh;
  position: relative;
  /* background-color: #520dc2; */
}

.contact .kiri .contact-content::before {
  border-radius: 20px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  background-color: #520dc2;
  opacity: 0.95;
  border: 5px solid white;
}

.contact .kanan .contact-content h4 {
  color: gold;
  font-family: "Ubounded";
}

.contact .kanan .contact-content::before {
  border-radius: 20px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  background-color: #520dc2;
  opacity: 0.8;
  border: 5px solid white;
}

/* Footer */
footer {
  border-top: 15px solid #520dc2;
  height: 50vh;
  /* background-color: #520dc2; */
  position: relative;
  padding: 30px;
  color: white;
  /* text-shadow: var(--shadow); */
}

/* footer .col-2 a {
  color: white !important;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(../img/offline-stores/jason-leung-89KfKyqh6dY-unsplash.jpg);
  background-position: center;
  background-size: cover;
  filter: grayscale(2);
} */

footer h5 {
  font-family: "Abounded";
  color: #520dc2;
  font-weight: bold;
}

footer .sosmed ul {
  display: flex;
  justify-content: start;
  gap: 10px;
}

footer .sosmed li:hover {
  opacity: 0.8;
}

footer .sosmed a {
  text-decoration: none;
  font-size: 2rem;
  border-radius: 50%;
  color: #8a2be2;
}

footer .sosmed li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background-color: #8a2be2; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #520dc2;
}

footer .brand {
  /* background-color: black; */
  height: 70px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

footer .footer-menu a,
footer .footer-contact a {
  font-family: "Oswald";
  position: relative;
  font-size: 1.1rem;
}

/* footer .footer-menu a:hover::after,
footer .footer-contact a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
  background-color: black;
  height: 2px;
  width: 30%;
} */

footer .footer-menu a:hover,
footer .footer-contact a:hover {
  text-decoration: underline;
}

footer .footer-menu a,
footer .footer-contact a {
  margin-bottom: 10px !important;
}

footer .text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 30px;
  background-color: #520dc2;
  padding: 2px;
}

/* Responsive */
@media screen and (min-width: 576px) {
  .col-alt {
    display: none !important;
  }
}

@media screen and (max-width: 576px) {
  /* Search */

  /* Hero */
  .hero {
    height: 160vh;
  }

  .hero .kiri {
    margin-top: 0;
  }

  .hero .kiri h1,
  .hero .kiri p {
    font-size: 1.3rem;
  }
  .hero .kiri h1 {
    margin-top: -5rem;
  }

  .hero .kiri button {
    width: 130px;
  }

  .hero .kiri .button {
    margin-bottom: 5rem;
  }

  .hero .sosmed {
    display: none;
  }

  .hero .kanan {
    height: 140vh;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-top: 3rem;
    border-left: 5px solid #520dc2;
    overflow: hidden;
  }

  .hero .kanan::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180%;
    z-index: -1;
    filter: blur(1px);
    background-color: #520dc2;
    border-radius: 0 0 20px 0;
    opacity: 0.7;
  }

  .hero .kanan p {
    font-size: 1rem;
    font-family: "Open Sans";
  }

  .hero .kanan .alamat {
    margin-top: -5rem;
  }

  .hero iframe {
    margin-top: 1rem;
    /* display: none; */
  }

  .hero .kanan .carousel {
    width: 330px;
    height: 300px;
    margin: auto;
    margin-bottom: 12px;
    border: 4px solid #520dc2;
    border-radius: 20px;
    background-color: #520dc2;
    z-index: -1;
  }

  .kanan .carousel img {
    border: 3px solid white;
  }

  .hero .icons {
    display: none;
  }

  /* About */
  .about .background-text p {
    width: 300px;
  }

  .about .background-text {
    padding: 5px;
    position: relative;
    height: 420px;
    width: 95%;
  }

  .about .background-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #520dc2;
    border: 4px solid white;
    opacity: 0.8;
    border-radius: 20px;
  }

  .about {
    height: 70vh;
  }

  .about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Banner */

  .banner {
    display: none;
  }

  .banner .left-side {
    height: 20vh;
    width: 100%;
  }

  .banner .left-side .ls-content {
    width: 100%;
    height: 18vh;
    border-radius: 20px;
    position: relative;
  }

  .banner .right-side {
    height: 30vh;
    width: 100%;
    background-color: black;
  }

  .banner .right-side .carousel-item {
    width: 20%;
    height: 30vh;
  }

  /* Featured */
  .featured {
    height: 200vh;
  }

  .featured .row {
    row-gap: 5px !important;
  }

  .featured .card img {
    height: 220px;
  }

  .featured .card {
    height: 350px !important;
  }

  .featured .card .text-content h5 {
    font-size: 1rem;
  }

  .featured .card .text-content h6 {
    display: none;
  }

  /* Arivals */
  .arivals {
    height: 400vh;
  }

  .arivals .card .beli {
    display: none;
  }

  .arivals .card {
    width: 4000px !important;
    height: 150px;
    position: relative;
    /* background-color: #8a2be2; */
  }

  .arivals .card .img-content {
    width: 100px;
    background-color: #520dc2;
  }

  .arivals .card .text-content {
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
    width: 170px;
    background-color: black;
  }

  .arivals .card img {
    width: 100px;
  }

  /* Review & Blog */
  .reviews {
    display: flex;
    justify-content: center;
  }
  .reviews .review {
    margin-top: 2%;
  }

  .blog {
    width: 100%;
    height: 70vh;
    /* background-color: #8a2be2; */
    border: 4px solid #520dc2;
    border-radius: 20px;
    background-color: white;
  }

  .reviews .review .carousel {
    display: none;
  }

  .reviews .blog .card {
    display: none;
  }

  /* Footer */
  footer img {
    display: none;
  }
}
